{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link type="text/css" rel="stylesheet" href="{% static "css/index.css" %}"  media="screen,projection"/>

  {% block head %}{% endblock %}

  <title>{% block title %}{% endblock %}</title>

</head>

<body>
{% include 'particles/nav.html' %}
<div class="main-content">
  {% block main %}{% endblock %}
</div>
{% include 'particles/footer.html' %}



<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/index.js" %}"></script>

{% block footer-js %}

{% endblock %}
</body>
</html>