<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Help Uturboo Grow</h5>
        <p class="grey-text text-lighten-4">We hope you have enjoyed using Uturboo! If you feel Uturboo has helped you
          out and want to support the team, send us over a donation! Any amount would help support and continue
          development on this project and is greatly appreciated.</p>
        <a class="btn waves-effect waves-light red lighten-3 modal-trigger" href="#modal1">Donate Now
        </a>

      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Join the Discussion</h5>
        <p class="grey-text text-lighten-4">We have a Gitter chat room set up where you can talk directly with us. Come
          in and discuss new features, future goals, general problems or questions, or anything else you can think
          of.</p>
        <a class="btn waves-effect waves-light red lighten-3" target="_blank"
           href="https://gitter.im/Uturboo/pastebin1">Chat</a>
      </div>
      <div class="col l4 s12" style="overflow: hidden;">
        <h5 class="white-text">Connect</h5>
        <iframe src="https://ghbtns.com/github-btn.html?user=Uturboo&repo=pastebin&type=watch&count=true&size=large"
                frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Thanks for your donate</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
  </div>